.container {
    font-size: 3rem;

    display:block;
    justify-content: center;
    align-items: center;
  
    height: 90vh;
    margin: 5rem 20%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    grid-gap: .2rem;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    border-radius: 4px;

    background-color: #F5E6E8;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card, .cardFlip {
    background-color: #80ada0;
    color: #000;

    text-align: center;

    padding: .7em 1em;
    border-radius:4px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.cardFlip {
    transform: rotateY(180deg);
}

.card:hover {
    transform: scale(1.02);
}

.back {
  transform: rotateY(180deg);
}

@media(max-width:1000px){
    .container{
        font-size: 2.5em;
        margin: 5rem 10%;
    }
}

@media (max-width: 767px) {
    .container{
        margin: 5rem 8%;
    }

    .wrapper {
        padding: 1rem;  
    }
}

@media(max-width: 500px){
    .container{
        font-size: 1.5em;
        margin: 5rem 3%;
    }
}